
<div class="table-agile-info">
    <div class="panel panel-default">
        <div class="panel-heading">
            Danh sách sản phẩm
        </div>
    
        <div class="table-responsive">
            <table class="table table-striped b-t b-light">
                <thead>
                    <tr>
                        <th>Tên sản phẩm</th>
                        <th>Danh mục</th>
                        <th>Giá</th>
                        <th>Giảm giá</th>
                        <th>Ngày áp dụng</th>
                        <th>Ngày hết hạn</th>
                        <th>Hiển thị</th>
                        <th style="width:30px;"></th>
                    </tr>
                </thead>
                <tbody id="all-product">
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><span class="text-ellipsis">
                            <a href=""><span class="fa-thumb-styling fa fa-thumbs-up"></span></a>
                        </span></td>
                        <td>
                            <a href="" class="active styling-edit" ui-toggle-class="">
                                <i class="fa fa-pencil-square-o text-success text-active"></i>
                            </a>
                            <a href="" class="active styling-edit delete-discount" data-id="" ui-toggle-class="">
                                <i class="fa fa-times text-danger text"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
      $.ajax({
            type: "GET",
            url: "http://localhost:8000/api/v1/products",
            dataType: 'json',
            success: function (data) {
                const products = $('#index');
                products.empty(); 
                data.data.forEach(function(product) {
                    console.log(product);
                    const productName = product.product_name;
                    const categoryName = product.category.category_name;
                    const productPrice = product.product_price;
                    const discountPercent = product.discount.discount_percent;	;
                    const startDate = product.discount.start_date;
                    const endDate = product.discount.end_date;
                    const row = `
                      <tr>
                        <td>${productName}</td>
                        <td>${categoryName}</td>
                        <td>${productPrice}</td>
                        <td>${discountPercent}</td>
                        <td>${startDate}</td>
                        <td>${endDate}</td>
                        <td><span class="text-ellipsis">
                                <a href=""><span class="fa-thumb-styling fa fa-thumbs-up"></span></a>
                            </span></td>
                            <td>
                                <a href="#" class="active styling-edit ui-toggle-class">
                                    <i class="fa fa-pencil-square-o text-success text-active"></i>
                                </a>
                                <a href="#" class="active styling-edit delete-category text-danger">
                                    <i class="fa fa-times"></i>
                                </a>
                            </td>
                      </tr>
                    `;
                    products.append(row);
                    
                });
            },
            error: function (e) {
                console.log(xhr.responseText);
            }
        });
    });
</script>