
<div class="panel panel-default">
    <div class="panel-heading">
    Danh sách danh mục sản phẩm
    </div>
    
    <div class="table-responsive">
        <table class="table table-striped b-t b-light">
            <thead>
                <tr>
                    <th>Tên danh mục</th>
                    <th>Hiển thị</th>
                    <th style="width:30px;"></th>
                </tr>
            </thead>
            <tbody id="all-category">
                
            </tbody>
    </table>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $.ajax({
            type: "GET",
            url: "http://localhost:8006/api/all-category-product",
            dataType: 'json',
            success: function (data) {
                const categories = $('#all-category');
                categories.empty(); 
                data.data.forEach(function(category) {
                    const categoryName = category.category_name;
                    const row = `
                        <tr>
                            <td class="categoryname">${categoryName}</td>
                            <td><span class="text-ellipsis">
                                <a href=""><span class="fa-thumb-styling fa fa-thumbs-up"></span></a>
                            </span></td>
                            <td>
                                <a href="#" class="active styling-edit ui-toggle-class">
                                    <i class="fa fa-pencil-square-o text-success text-active"></i>
                                </a>
                                <a href="#" class="active styling-edit delete-category text-danger">
                                    <i class="fa fa-times"></i>
                                </a>
                            </td>
                        </tr>
                    `;
                    categories.append(row);
                    
                });
            },
            error: function (e) {
                console.log(xhr.responseText);
            }
        });

        var csrfToken = $('meta[name="csrf-token"]').attr('content');

        $('.delete-category').on('click', function(event) {
            event.preventDefault();
            var categoryId = $(this).data('id');
            if (confirm("Bạn có chắc chắn muốn xóa danh mục này không?")){
            $.ajax({
                url: "delete-category-product/" + categoryId,
                type: 'DELETE',
                contentType: 'application/json',
                headers: {
                    'X-CSRF-TOKEN': csrfToken, 
                },
                success: function(response) {
                    alert('Xóa danh mục sản phẩm thành công');
                    location.reload();
                },
                error: function(xhr, status, error) {
                    console.log(xhr.responseText);
                }
            });
            }
        });
    });
</script>